body{
    margin: 0;
    background-color: #000000;
    background-image: url("Logo Bongo bl.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}


.nav_li  {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-family: Nexa-ExtraLight;

}

.nav_li i {

    padding: 6px;   
}
 
.nav {
    height: 80px;
    margin-top: -15px;
    display: block;
    background: linear-gradient(to top, #000000, #151515);
    
}
.nav a {
    text-decoration: none;
    color: white;
    user-select: none;
}
.nav_li:hover i {

    color: #000000; 
}
.nav_li:hover> a {
    color: grey;
}

.nav_ul {
    box-sizing: content-box;
    text-align: right;
    padding: 15px;         
}



.Logochico {
     position: absolute;
     height: 80px;
     width: 90px;
}


.redes {
	position: absolute;
    
}
section{
	color: white;
	
}




aside{
    color: white;
}

 .h1_inicio {
 position: relative;
 text-align: center;
 font-family: Nexa-Heavy;
 Font-weight: 10;
 line-height: 2;
 font-size: 50px;
 color: #FF5500;
 margin: 80px;
 }

.h2_inicio {
    font-family: Nexa-ExtraLight;
    padding: 5px;
    margin-left: 45px;

}



p {
    font-family: sans-serif;
    margin: 10px;
    
}

 


.imagen1_inicio {
     height: 400px;
     min-width: 420px;
     margin: 10px;
     width: 250px; 
     object-fit: cover;
     flex-grow: 1;
  
 }



.imagen2_inicio{
     height: 400px;
     min-width: 420px;
     margin: 10px;
     width: 250px;
     object-fit: cover;
     flex-grow: 1;
    
}


.imagen3_inicio{ 
     height: 400px;
     min-width: 420px;
     margin: 10px;
     width: 250px;
     object-fit: cover;
     flex-grow: 1;
    
}

.imagenes_inicio {
	position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    margin: 10px;
   
}



.contenedor_p_incio {
	line-height: 1.5;
    margin-left: 25px;
}

.footer_inicio {
   position: relative;
   margin-top: auto;
   font-family: sans-serif;
   padding: 10px;

}

.h3_inicio{
    position: relative;
    text-align: center;
}

.p_inicio {
      
}

.h2_inicio_2{
    text-align: center;
    padding: 30px;
    font-family: Nexa-ExtraLight;
}

.barra_inicio {
     Background:linear-gradient(to left, #000000, #FF5500);
     height: 2.5px;
    
}


.Equipos_contenedor {
   
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 40px;
   color: #FF5500;
   font-family: Nexa-ExtraLight;
   
}


.Equipos_contenedor p {
    color: white;
    margin-top: 40px;
}


.Microfonos_contenedor {
    background-color:#232323;
    height: 450px;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
     
}
.Microfonos_imagen {
    object-fit: contain;
     height: 350px;
     width: 350px;
     object-position: 140px 0px;
     
}
.Microfonos_contenedor p {
    margin-top: 10px;
}


.Camaras_contenedor {
    background-color:#232323;
    height: 450px;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.Camaras_imagen {
    object-fit: contain;
     height: 350px;
     width: 350px
}
.Camaras_contenedor p {
   margin-top: 10px;
}




.Auriculares_contenedor {
    background-color:#232323;
    height: 450px;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;     
}

.Auriculares_imagen {
    object-fit: contain;
     height: 350px;
     width: 350px;
     object-fit: cover;
}
.Auriculares_contenedor p {
   margin-top: 10px;
}


.p_contactate {
    text-align: center;
    margin: 50px;
    padding: 10px;
    background-color: #FF5500;
    
}

.p_contactate: hover> a {
     color: white;
     font-size: 18px;

}

.aquí {
    color: white;
    font-size: 18px;

}

footer{
    color: white;
    background-color: #232323;
    border-radius: 0.5%;
    user-select: none;
    text-align: center;
}

.Logochico_footer {
   width: 7%;
   height: 7%;
  margin: -10px;
   margin-top: 5px;
   margin-bottom: -15px;
}



footer h4 {
   text-align: center;
   font-family: sans-serif;
}

footer h3 {
    font-family: sans-serif;
}

@media only screen and (max-width:1370px) {
    .h1_inicio{
        margin: 100px;
    }
}


@media only screen and (max-width:1180px) {

.Microfonos_contenedor{
    margin: 5px;
    
}
.Camaras_contenedor{
    margin: 5px;
    
}
.Auriculares_contenedor{
    margin: 5px;
    
}


}







@media only screen and (max-width:1080px) {

.Equipos_contenedor {
   flex-direction: column;
   align-items: center;

}
.Equipos_contenedor img {
    transform: translate(102px);
}
.Microfonos_contenedor{
    width: 550px; 
}
.Camaras_contenedor{
    width: 550px;
}
.Auriculares_contenedor{
   width: 550px;
}

.Logochico_footer {
   width: 13%;
     
}
 .h1_inicio {
    margin: 95px;

 }

}




@media only screen and (max-width:480px) {


.h1_inicio{
    margin: 140px 60px;
}

.Equipos_contenedor img {
    transform: translate(0px);
}
.Microfonos_contenedor{
    width: 350px; 
}
.Camaras_contenedor{
    width: 350px;
}
.Auriculares_contenedor{
   width: 350px;
}
.Logochico_footer {
   width: 25%;
     
}

}





















@font-face {
  font-family:Nexa-Heavy;
  src: url(Nexa-Heavy.ttf);
}

@font-face {
  font-family:Nexa-ExtraLight;
  src: url(Nexa-ExtraLight.ttf);
}